@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Custom scrollbar for a cleaner mobile look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media print {
  nav {
    display: none !important;
  }
  .no-print {
    display: none !important;
  }
}
